{% extends 'layout.html.twig' %}

{% block title %}Gestion des images{% endblock %}

{% block content %}
    {% if errors is not empty %}
        <div class="alert alert-danger">
            {% for error in errors %}
                <ul>
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
    {% if success == true %}
        <div class="alert alert-success">
            <ul>
                <li>l'image a été correctement envoyée</li>
            </ul>
        </div>
    {% endif %}

    <!-- Affichage du formulaire pour ajouter des images -->

    <div class="row">

        <div class="col-5 offset-1">
            <div class="pt-5">
                <form action="" enctype="multipart/form-data" method="post">
                    <div>
                        <label for='image'>Add image:</label>
                        <input id='image' name="image" type="file"/>
                    </div>
                    <p><input type="submit" name="submit" value="Add"></p>

                </form>
            </div>
        </div>
    </div>

{% endblock %}