{% extends 'layout.html.twig' %}

{% block title %}Gestion des images{% endblock %}

{% block style %} /assets/css/adminGallery.css {% endblock %}

{% block content %}
    {% if errors is not empty %}
        <div class="alert alert-danger">
            {% for error in errors %}
                <ul>
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}
    {% if success == true %}
        <div class="alert alert-success">
            <ul>
                <li>l'image a été correctement envoyée</li>
            </ul>
        </div>
    {% endif %}

    <!-- Affichage du formulaire pour ajouter des images -->
    <div class="pictureAdmin">
        <div class="radiant-bg container">
            <div class="add_form">
                <h2 class="text-center">Ajouter une image</h2>
                <div class="row">
                    <div class=" mx-auto d-block">
                        <div class="pt-5 justify-content-center">
                            <form action="" enctype="multipart/form-data" method="post">
                                <div>
                                    <input value="Envoyer" id='image' name="image" type="file"/>
                                </div>
                                <div><input class="btn mx-auto d-block" type="submit" class="btn" value="Envoyer"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}