<ul class="nav nav-tabs pb-3">
    <li class="nav-item">
        <a class="nav-link" href="/admin/galerie">Galerie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/galerie/add">Ajouter une image</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/events">Evénements</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/event/add">Ajouter un événement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/addresses">lieux des cours</a>
    </li>
</ul>