{% extends 'layout.html.twig' %}

{% block footer %}
    <!-- Immportant à mettre dans le HEADER -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <footer>
        <section id="footer" class="footer">
            <!-- PC -->
            <div class="d-none d-lg-block">
                <div class="row pt-3 pb-3">
                    <div class="col  pl-5">
                        <img class="rounded-circle" src="https://image.ibb.co/dcK4Tp/14352198_570089263192916_4928786111133049296_o.jpg" alt="logo laser game" height="160"/> <!-- logo client -->
                    </div>

                    <div class="col">
                        <div class="row pt-5"> <!-- logo resaux sociaux -->
                            <div class="col text-right">
                                <a href="https://www.facebook.com/ASLOrleans/"><img src="https://image.ibb.co/j4W7g9/facebook.png" alt="logo facebook" height="30"></a>
                            </div>
                            <div class="col text-center">
                                <a href="https://twitter.com/aslorleans"><img src="https://image.ibb.co/eSWjTp/twitter.png" alt="logo twitter" height="30"></a>
                            </div>
                            <div class="col text-left">
                                <a href="https://www.instagram.com/contactaslo45/?hl=en"><img src="https://image.ibb.co/ev6Jop/instagram.png" alt="logo instagram" height="30"></a>
                            </div>
                        </div> <!-- row 1-->

                        <div class="row pt-4">
                            <div class="col-12 text-center">
                                <p> <a href="#">Contactez-nous</a> - <a href="#">Mentions légales</a> - <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000006069570">Association loi 1901</a></p>
                            </div>
                        </div> <!-- row 2-->
                    </div> <!-- //col -->

                    <div class="col">
                        <img class="rounded-circle float-right mr-5" src="https://image.ibb.co/cJ2f19/safe_image.png" alt="logo wild code school" height="110"/> <!-- logo WCS -->
                    </div>
                </div>
            </div>

            <!-- Mobile -->
            <div class="d-lg-none">
                <div class="row pt-3 pb-3">
                    <div class="col">
                        <img class="rounded-circle pl-3" src="https://image.ibb.co/dcK4Tp/14352198_570089263192916_4928786111133049296_o.jpg" alt="logo laser game" height="80"/> <!-- logo client -->
                    </div>

                    <div class="col">
                        <div class="row pt-1"> <!-- logo resaux sociaux -->
                            <div class="col text-right">
                                <a href="https://www.facebook.com/ASLOrleans/"><i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="col text-center" >
                                <a href="https://twitter.com/aslorleans"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="col text-left" >
                                <a href="https://www.instagram.com/contactaslo45/?hl=en"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div> <!-- row 1-->
                    </div> <!-- //col -->

                    <div class="col">
                        <img class="rounded-circle float-right pr-2" src="https://image.ibb.co/cJ2f19/safe_image.png" alt="logo wild code school" height="50"/> <!-- logo WCS -->
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 text-center">
                        <p> <a href="#">Contactez-nous</a> - <a href="#">Mentions légales</a> - <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000006069570">Association loi 1901</a></p>
                    </div>
                </div> <!-- row 2-->
            </div>
        </section>
    </footer>
{% endblock %}

