{% extends 'layout.html.twig' %}

{% block footer %}
<footer class="footer-4">
    <div class="container">
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
                <p><a href="#">Contact Us</a></p>
                <p class="copyright">Copyright &copy; YourStartup. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-right mb-4">
                <ul class="social">
                    <li><a href="https://www.facebook.com/ASLOrleans/" target="_blank" title="Facebook" class="fa fa-facebook"></a></li>
                    <li><a href="https://twitter.com/aslorleans" target="_blank" title="Twitter" class="fa fa-twitter"></a></li>
                    <li><a href="https://www.instagram.com/contactaslo45/?hl=en" target="_blank" title="Instagram" class="fa fa-instagram"></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}