

    <!-- --- Galerie photos home--- -->
    <section class="p-1" id="portfolio">
        <div class="container p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-md-4 col-sm-12">
                    <img class="p-2 img-fluid" src="assets/images/photo_galerie_1.png" alt="photo1">
                </div>
                <div class="col-md-4 col-sm-12">
                    <img class="p-2 img-fluid" src="assets/images/photo_galerie_2.png" alt="photo2">
                </div>
                <div class="col-md-4 col-sm-12">
                    <img class="p-2 img-fluid" src="assets/images/photo_galerie_3.png" alt="photos3">
                </div>
            </div>
        </div>
    </section>

