<section class="banner cover-1 text-center">
    <div class="bg-jedi-opa">
        <div class="cover-container pb-5">
            <div class="cover-inner container align-middle">
               <h1 class="jumbotron-heading">académie de<br /><span class="starjedi">sabre Laser d'orléans</span></h1>
                <p class="lead">
                    vous avez toujours rêvé d'être un jedi ?<br />
                    <a href="#" class="btn btn-outline-white btn-lg ">rejoignez-nous !</a>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="separator"></div>