

    <!-- --- Galerie photos home--- -->
    <section class="p-1" id="portfolio">
        <div class="container p-0">
            <div class="row no-gutters popup-gallery">
                {% for img in pictures %}
                <div class="col-md-4 col-sm-12">
                    <img class="p-2 img-fluid" src="{{ img.picture_path }}" alt="{{ img.picture_name }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

