<section class="content-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 text-center text-md-left mb-4">
            </div>
            <div class="col-sm-12 col-md-4 text-center text-md-left">
                <h2 class="mb-4 mt-4">Informations pratiques</h2>
                <h4 class="pt-4">Gymnase du palais de sport</h4>
                <p>14 Rue Eugène Vignat</p>
                <p>45000 Orléans</p>
                <p>du 03 sept. 2018 au 15 juin 2019</p>
                <p>Tous les mardis de 19h - 22h</p>
                <h4 class="pt-4">Gymnase Jacques Cosson</h4>
                <p>3 Rue Edouard Branly</p>
                <p>45100 Orléans</p>
                <p>du 03 sept. 2018 au 15 juin 2019</p>
                <p>Tous les jeudis de 19h - 22h</p>
            </div>
        </div>
    </div>
</section>