<section class="content-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 text-center text-md-left mb-4">
            </div>
            <div class="col-sm-12 col-md-4 text-center text-md-left">
                <h2 class="mb-4 mt-4">Informations pratiques</h2>
                <h3 class="pt-4">Gymnase de palais de sport</h3>
                <address>
                    14 Rue Eugène Vignat<br>
                    45000 Orléans<br>
                </address>
                <p>du 03 sept. 2018 au 15 juin 2019</p>
                <p>Tous les mardis de 19h - 22h</p>
                <h3 class="pt-4">Gymnase Jacques Cosson</h3>
                <address>
                    3 Rue Edouard Branly<br>
                    45100 Orléans<br>
                </address>
                <p>du 03 sept. 2018 au 15 juin 2019</p>
                <p>Tous les jeudis de 19h - 22h</p>
            </div>
        </div>
    </div>
</section>