{% extends 'layout.html.twig' %}

{% block title %} {% endblock %}

{% block style %} 
https://unpkg.com/leaflet@1.3.1/dist/leaflet.css
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
{% endblock %}

{% block content %}

    {% include "Home/banner.html.twig" %}

    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-lg-3 col-md-12 order-lg-last">
                {% include "Home/homeEvents.html.twig" %}
            </div>
            <div class="col-lg-8 col-md-12 order-lg-first">
                {% include "Home/about_us.twig" %}

                {% include 'Home/gymnasiumAdressSection.html.twig' %}

                {% include "Home/presentationActivity.html.twig" %}

            </div>
        </div>
    </div>

    {% include "Home/contact_form.twig" %}

    {% include "Home/video.html.twig" %}

    {% include 'Home/galleryPhotosHome.html.twig' %}

{% endblock %}

{% block js %}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src="/assets/js/map.js"></script>
    <script>
        window.onload = function () {
            let coord = [];
            {% for coord in coords %}
            coord.push(["{{ coord[0] }}", "{{ coord[1] }}"]);
            {% endfor %}
            initMap(coord);
        };
    </script>
{% endblock %}
