<div class="radiant-bg">
    <section class="presentationActivity section-pad">
        <div class="container">
            <div class="row justify-center">
                <div class="col-md-8">
                    <h2 class="mb-4 title-presentation">Présentation de la pratique</h2>
                    <p class="mb-4">Cette activité met en pratique l’utilisation du sabre laser de façon sportive et
                        ludique en appliquant les techniques, les méthodes et les formes du sabre telles qu’elles sont
                        développées depuis 1997. Originaire des Etats-Unis et pratiqué dans le monde entier, le combat
                        au sabre laser permet des échanges sportifs d’un genre nouveau. C’est une discipline codifiée
                        et complète se voulant également originale.<br/><br/>
                        A Orleans, nous pratiquant plutôt le coté "fun", mais si vous voulez de plus amples informations
                        sur les codes de cette pratique, c'est <a target="_blank" href="https://sportsaberleague.com/">ici</a>
                        que ça se passe.<br/><br/>
                        Sachez qu'une multitude de sabre existe pour différents budget, si vous voulez vous faire
                        plaisir, n'hésitez pas à consulter une <a target="_blank"
                                                                  href="http://jpeuxpasjaisabrelaser.com/"> boutique en
                            ligne </a>pour l'équipement.<br/><br/>
                        Enfin, sachez qu'il existe également des tournois pour ceux qui veulent pousser un peu plus loin
                        ce sport.<br/></p>
                    <a target="_blank"
                       href="https://docs.google.com/document/d/1lZhMyQqP5QSCoXB0h1lBPHNRfobedukHKMavFWMn3wA/edit">lien
                        vers les règles officielles.</a>
                </div>
                <div class="col-md-4 align-middle">
                    <img class="mb-1 img-fluid img-activity" src="/../assets/images/Aslotrain.jpg" alt="entrainement">
                    <img class="mb-1 img-fluid img-activity" src="/../assets/images/ludosport.jpg"
                         alt="entrainement de nuit">
                </div>
            </div>
        </div>
    </section>
</div>