    <footer>
        <section id="footer" class="footer">
            <!-- PC -->
            <div class="d-none d-lg-block">
                <div class="row pt-3 pb-3">
                    <div class="col  pl-5">
                        <img class="rounded-circle" src="/../assets/images/logo_aslo45.jpg" alt="logo aslo45" height="160"/> <!-- logo client -->
                    </div>

                    <div class="col">
                        <div class="row pt-5 footer_logo"> <!-- logo resaux sociaux -->
                            <div class="col text-right">
                                <a href="https://www.facebook.com/ASLOrleans/" title="Facebook" class="fab fa-facebook-f"></a>
                            </div>
                            <div class="col text-center">
                                <a href="https://twitter.com/aslorleans" title="Twitter" class="fab fa-twitter"></a>
                            </div>
                            <div class="col text-left">
                                <a href="https://www.instagram.com/contactaslo45/?hl=en" title="Instagram" class="fab fa-instagram"></a>
                            </div>
                        </div> <!-- row 1-->

                        <div class="row pt-4">
                            <div class="col-12 text-center">
                                <p> <a href="#">Contactez-nous</a> - <a href="#">Mentions légales</a> - <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000006069570">Association loi 1901</a></p>
                            </div>
                        </div> <!-- row 2-->
                    </div> <!-- //col -->

                    <div class="col">
                        <img class="rounded-circle float-right mr-5" src="/../assets/images/logo_wcs.png" alt="logo wild code school" height="110"/> <!-- logo WCS -->
                    </div>
                </div>
            </div>

            <!-- Mobile -->
            <div class="d-lg-none footer">
                <div class="row pt-3 pb-3">
                    <div class="col">
                        <img class="rounded-circle pl-3" src="/../assets/images/logo_aslo45.jpg" alt="logo aslo45" height="80"/> <!-- logo client -->
                    </div>

                    <div class="col">
                        <div class="row pt-1 footer_logo"> <!-- logo resaux sociaux -->
                            <div class="col-4 text-center">
                                <a href="https://www.facebook.com/ASLOrleans/" title="Facebook" class="fab fa-facebook-f"></a>
                            </div>
                            <div class="col-4 text-center" >
                                <a href="https://twitter.com/aslorleans" title="Twitter" class="fab fa-twitter"></a>
                            </div>
                            <div class="col-4 text-center" >
                                <a href="https://www.instagram.com/contactaslo45/?hl=en" title="Instagram" class="fab fa-instagram"></a>
                            </div>
                        </div> <!-- row 1-->
                    </div> <!-- //col -->

                    <div class="col">
                        <img class="rounded-circle float-right pr-2" src="/../assets/images/logo_wcs.png" alt="logo wild code school" height="50"/> <!-- logo WCS -->
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 text-center mention">
                        <p> <a href="#">Contactez-nous</a> - <a href="#">Mentions légales</a> - <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000006069570">Association loi 1901</a></p>
                    </div>
                </div> <!-- row 2-->
            </div>
        </section>
    </footer>

