<!-- HEADER -->
<header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">

                <a class="navbar-brand" href="/">A.S.L.O. 45</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-center" href="/">Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="/">L'académie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="/">Evénements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="/">Galerie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="/">Rejoindre</a>
                        </li>
                    </ul>

                    <div class="col-md-6 text-center">
                        <ul class="social ">
                            <li><a href="https://www.facebook.com/ASLOrleans/" title="Facebook" class="fab fa-facebook-f"></a></li>
                            <li><a href="https://twitter.com/ASLOrleans" title="Twitter" class="fab fa-twitter"></a></li>
                            <li><a href="https://www.instagram.com/contactaslo45/" title="Instagram" class="fab fa-instagram"></a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
        <section class="cover-1 text-center">
            <div class="bg-jedi-opa">
                <div class="cover-container pb-5">
                    <div class="cover-inner container align-middle">
                        <h1 class="jumbotron-heading"><strong>A</strong>cadémie de <br /><strong>S</strong>abre <strong>L</strong>aser
                            d'<strong>O</strong>rléans</h1>
                        <p class="lead">Vous avez toujours rêvé d'être un jedi ?</p>
                        <p>
                            <a href="#" class="btn btn-outline-white btn-lg ">Rejoignez-nous !</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!-- !HEADER -->